<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Do My Assignment | Results</title>
    <link rel="stylesheet" href="/css/result.css">
</head>

<body>

    <div class="container">
        <h1>Payment Details</h1>
        <p>Type of Assignment: <%= assignmentType %></p>
        <p>Days Until Due: <%= daysUntilDue %></p>
        <p>Exact Deadline: <%= exactDeadline %></p>
        <p>Desired Grade: <%= gradeDesired %></p>
        <p>Email: <%= email %></p>
        <p>Additional Details: <%= additionalDetails %></p>
        <p>File Link: <%= fileUploads %></p>
        <p>Total Cost: $<%= totalCost %></p>
    </div>

</body>
</html>
